* {
    box-sizing: border-box;
}
.goBack {
    right: 30px;
    top: 30px;
    position: absolute;
}
.favourites {
    display: flex;
}
.star {
    margin-top: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.productItem {
    display: flex;
    width: 100%;
}
.productImgDiv {
    width: 50%;
    padding: 5%;
}
.productImg {
    width: 100%;
    transition: all 1.5s;
}
.productImg:hover {
    transform: scale(1.1);
}
.productIist {
    position: relative;
    width: 50%;
    padding: 5%;
    text-align: center;
    justify-content: center;
}
.productName {
    font-weight: 700;
    font-size: 40px;
    width: 70%;
}
.productDescr {
    float: left;
    padding: 10px;
    margin-top: 20px;
    text-align: left;
}
.color {
    font-weight: 400;
    font-size: 20px;
}
.changeColor {
    display: flex;
}
.colors {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.customColor {
    margin-top: 0;
    height: 50px;
    width: 50px;
    border: solid 3px black;
}
.price {
    margin-top: 50px;
    font-weight: 300;
    font-size: 35px;
    font-style: italic;
}
.priceCart {
    display: flex;
}
.addToCart {
    margin-top: 30px;
    margin-left: 20px;
}
